# Kibana configuration

server.port: 5601
server.host: "localhost"
elasticsearch.hosts: ["http://localhost:9200"]
logging.dest: /var/log/kibana/kibana.log
wazuh.enabled: true
wazuh.elasticsearch.host: "http://localhost:9200"
