network:
  version: 2
  ethernets:
    {{ device }}:
      addresses: [{{ lan_ip }}/{{ prefix }}]
      gateway4: {{ gateway }}
      nameservers:
        addresses: [{{ name_server }}, {{ gateway }}]
